*.pyc
/.vscode
/Content/Documentation/System Requirements/D01_System-Requirements-Specification.docx
/env
docker/*.whl
Documentation/Pitch/Dossier.pdf
Documentation/Pitch/test.html
Documentation/Pitch/test.xml
dossier/build
dossier/dist
dossier/docker/wheels
dossier/dossier.egg-info
dossier/test/convert-htmlbook/dossier-print.css
dossier/test/convert-htmlbook/dossier-screen.css
dossier/test/convert-htmlbook/tmp
dossier/test/convert-markdown/*.log
dossier/test/convert-markdown/032_diagrams__i.html
dossier/test/convert-markdown/032_diagrams__i.pdf
dossier/test/convert-markdown/dossier-print.css
dossier/test/convert-markdown/dossier.css
dossier/test/convert-markdown/dossier.sty
dossier/test/convert-markdown/tmp
dossier/test/convert-svgbob/001_logo__i.html
dossier/test/convert-svgbob/001_logo__i.pdf
dossier/test/convert-svgbob/002_showcase__i.pdf
dossier/test/convert-svgbob/test-2.bob
dossier/test/convert-svgbob/test-2.svg
dossier/test/convert-svgbob/test.bob
dossier/test/convert-svgbob/test.png
dossier/test/convert-svgbob/test.svg
dossier/test/convert-xpath/002_vcf__o.test.txt
dossier/test/convert-xpath/003_vcf__o.test.txt
dossier/test/output-docx/001_example__o.docx
dossier/test/output-docx/002_complete__o.docx
dossier/test/run-pipeline/~$G02_pdf-to-ppt__o.pptx
dossier/test/run-pipeline/101_file__o.test.md
dossier/test/run-pipeline/103_file__o.test.md
dossier/test/run-pipeline/104_file__o.test.md
dossier/test/run-pipeline/106_file__o.test.md
dossier/test/run-pipeline/201_markdown__o.test.xhtml
dossier/test/run-pipeline/202_markdown__o.test.xhtml
dossier/test/run-pipeline/203_markdown__o.test.xhtml
dossier/test/run-pipeline/203b_markdown__o.test.xhtml
dossier/test/run-pipeline/204_markdown__o.test.xhtml
dossier/test/run-pipeline/205_markdown__o.test.xhtml
dossier/test/run-pipeline/401_save__o.test.md
dossier/test/run-pipeline/402_save__o.test.md
dossier/test/run-pipeline/403_save__o.test.md
dossier/test/run-pipeline/501_load__o.test.md
dossier/test/run-pipeline/601_xhtml-to-pdf__o.test.pdf
dossier/test/run-pipeline/602_xhtml-to-pdf__o.test.pdf
dossier/test/run-pipeline/603_xhtml-to-pdf__o.test.pdf
dossier/test/run-pipeline/605_xhtml-to-pdf__o.test.pdf
dossier/test/run-pipeline/801_copy__o.test.md
dossier/test/run-pipeline/801b_copy__o.test.md
dossier/test/run-pipeline/802_copy__o.test.md
dossier/test/run-pipeline/802b_copy__o.test.md
dossier/test/run-pipeline/901_include__o.test.md
dossier/test/run-pipeline/A01_latex__o.test.tex
dossier/test/run-pipeline/B01_docx__o.test.docx
dossier/test/run-pipeline/C01_klartext__o.test.xml
dossier/test/run-pipeline/E01_klartextinclude__o.test.kt
dossier/test/run-pipeline/E02_include__o.test.xml
dossier/test/run-pipeline/G01_pdf-to-png__o.test.zip
dossier/test/run-pipeline/G01_pdf-to-png__o.zip
dossier/test/run-pipeline/page-1.png
dossier/test/run-pipeline/test.md
dossier/test/run-pipeline/test.pdf
dossier/test/run-pipeline/test.xhtml
dossier/test/test-reports
htmlbook/htmlbook-syntax.css
htmlbook/htmlbook.css
klartext/build
klartext/dist
klartext/klartext.egg-info
mdx/build
mdx/dist
mdx/mdx.egg-info
build/test-reports/*
dossier/test/run-pipeline/H01_less_stylesheet__o.test.pdf
dossier/dm/Tools/less/htmlbook-colors.less
dossier/dm/Tools/less/htmlbook-counters.less
dossier/dm/Tools/less/htmlbook-layout.less
dossier/dm/Tools/less/htmlbook-print.less
dossier/dm/Tools/less/htmlbook-screen.less
dossier/dm/Tools/less/htmlbook-syntax.less
dossier/dm/Tools/less/htmlbook-typography.less
dossier/dm/Tools/less/htmlbook.less
dossier/test/run-pipeline/H01_less_stylesheet__o.test.pdf
dossier/dm/Tools/xsd
mdx/dossier_mdx.egg-info/dependency_links.txt
mdx/dossier_mdx.egg-info/PKG-INFO
mdx/dossier_mdx.egg-info/SOURCES.txt
mdx/dossier_mdx.egg-info/top_level.txt
klartext_pygments/dist/klartext_pygments-0.1.0-py2.py3-none-any.whl
klartext_pygments/dist/klartext_pygments-0.1.0.tar.gz
