*.pyc
/.vscode
/Content/Documentation/System Requirements/D01_System-Requirements-Specification.docx
/env
docker/*.whl
Documentation/Pitch/Dossier.pdf
Documentation/Pitch/test.html
Documentation/Pitch/test.xml
dm/build
dm/dist
dm/docker/wheels
dm/dossier.egg-info
dm/test/convert-htmlbook/dossier-print.css
dm/test/convert-htmlbook/dossier-screen.css
dm/test/convert-htmlbook/tmp
dm/test/convert-markdown/*.log
dm/test/convert-markdown/032_diagrams__i.html
dm/test/convert-markdown/032_diagrams__i.pdf
dm/test/convert-markdown/dossier-print.css
dm/test/convert-markdown/dossier.css
dm/test/convert-markdown/dossier.sty
dm/test/convert-markdown/tmp
dm/test/convert-svgbob/001_logo__i.html
dm/test/convert-svgbob/001_logo__i.pdf
dm/test/convert-svgbob/002_showcase__i.pdf
dm/test/convert-svgbob/test-2.bob
dm/test/convert-svgbob/test-2.svg
dm/test/convert-svgbob/test.bob
dm/test/convert-svgbob/test.png
dm/test/convert-svgbob/test.svg
dm/test/convert-xpath/002_vcf__o.test.txt
dm/test/convert-xpath/003_vcf__o.test.txt
dm/test/output-docx/001_example__o.docx
dm/test/output-docx/002_complete__o.docx
dm/test/run-pipeline/~$G02_pdf-to-ppt__o.pptx
dm/test/run-pipeline/101_file__o.test.md
dm/test/run-pipeline/103_file__o.test.md
dm/test/run-pipeline/104_file__o.test.md
dm/test/run-pipeline/106_file__o.test.md
dm/test/run-pipeline/201_markdown__o.test.xhtml
dm/test/run-pipeline/202_markdown__o.test.xhtml
dm/test/run-pipeline/203_markdown__o.test.xhtml
dm/test/run-pipeline/203b_markdown__o.test.xhtml
dm/test/run-pipeline/204_markdown__o.test.xhtml
dm/test/run-pipeline/205_markdown__o.test.xhtml
dm/test/run-pipeline/401_save__o.test.md
dm/test/run-pipeline/402_save__o.test.md
dm/test/run-pipeline/403_save__o.test.md
dm/test/run-pipeline/501_load__o.test.md
dm/test/run-pipeline/601_xhtml-to-pdf__o.test.pdf
dm/test/run-pipeline/602_xhtml-to-pdf__o.test.pdf
dm/test/run-pipeline/603_xhtml-to-pdf__o.test.pdf
dm/test/run-pipeline/605_xhtml-to-pdf__o.test.pdf
dm/test/run-pipeline/801_copy__o.test.md
dm/test/run-pipeline/801b_copy__o.test.md
dm/test/run-pipeline/802_copy__o.test.md
dm/test/run-pipeline/802b_copy__o.test.md
dm/test/run-pipeline/901_include__o.test.md
dm/test/run-pipeline/A01_latex__o.test.tex
dm/test/run-pipeline/B01_docx__o.test.docx
dm/test/run-pipeline/C01_klartext__o.test.xml
dm/test/run-pipeline/E01_klartextinclude__o.test.kt
dm/test/run-pipeline/E02_include__o.test.xml
dm/test/run-pipeline/G01_pdf-to-png__o.test.zip
dm/test/run-pipeline/G01_pdf-to-png__o.zip
dm/test/run-pipeline/page-1.png
dm/test/run-pipeline/test.md
dm/test/run-pipeline/test.pdf
dm/test/run-pipeline/test.xhtml
dm/test/test-reports
htmlbook/htmlbook-syntax.css
htmlbook/htmlbook.css
klartext/build
klartext/dist
klartext/klartext.egg-info
mdx/build
mdx/dist
mdx/mdx.egg-info
build/test-reports/*
dm/test/run-pipeline/H01_less_stylesheet__o.test.pdf
dm/dm/Tools/less/htmlbook-colors.less
dm/dm/Tools/less/htmlbook-counters.less
dm/dm/Tools/less/htmlbook-layout.less
dm/dm/Tools/less/htmlbook-print.less
dm/dm/Tools/less/htmlbook-screen.less
dm/dm/Tools/less/htmlbook-syntax.less
dm/dm/Tools/less/htmlbook-typography.less
dm/dm/Tools/less/htmlbook.less
dm/test/run-pipeline/H01_less_stylesheet__o.test.pdf
dm/dm/Tools/xsd
mdx/dossier_mdx.egg-info/dependency_links.txt
mdx/dossier_mdx.egg-info/PKG-INFO
mdx/dossier_mdx.egg-info/SOURCES.txt
mdx/dossier_mdx.egg-info/top_level.txt
klartext/site
mdx/site
dm/site
docs/
klartext_pygments/dist/klartext_pygments-0.1.0-py3-none-any.whl
klartext_pygments/dist/klartext_pygments-0.1.0.tar.gz
klartext-pygments/dist/klartext_pygments-0.1.0-py2.py3-none-any.whl
klartext-pygments/dist/klartext_pygments-0.1.0-py3-none-any.whl
klartext-pygments/dist/klartext_pygments-0.1.0.tar.gz
klartext-pygments/venv
docs/index.html
.cache
docs/index.html
