*.pyc
/Content/Documentation/System Requirements/D01_System-Requirements-Specification.docx
/env
/Tools/tmp
/Test/convert/tmp.html
/Tools/test.docx
/Tools/test.html
/Tools/test.md
/Tools/test.tex
/Test/convert/tmp
/Test/convert/dossier.css
/test/xmlreports
/.vscode
Test/convert-htmlbook/tmp
Test/convert-markdown/tmp
Test/convert-markdown/dossier.sty
Test/convert-markdown/*.log
Test/convert-htmlbook/dossier-print.css
Test/convert-htmlbook/dossier-screen.css
Test/convert-markdown/dossier-print.css
Test/convert-markdown/dossier.css
Tools/css/dossier-print.css
Tools/~$htmlbook-elements.xlsx
Test/run-pipeline/test.pdf
Test/run-pipeline/test.md
Test/run-pipeline/test.xhtml
Test/run-pipeline/101_file__o.test.md
Test/run-pipeline/103_file__o.test.md
Test/run-pipeline/201_markdown__o.test.xhtml
Test/run-pipeline/202_markdown__o.test.xhtml
Test/run-pipeline/203b_markdown__o.test.xhtml
Test/run-pipeline/204_markdown__o.test.xhtml
Test/run-pipeline/401_save__o.test.md
Test/run-pipeline/402_save__o.test.md
Test/run-pipeline/501_load__o.test.md
Test/run-pipeline/601_xhtml-to-pdf__o.test.pdf
Test/run-pipeline/106_file__o.test.md
Test/run-pipeline/602_xhtml-to-pdf__o.test.pdf
Test/run-pipeline/205_markdown__o.test.xhtml
Test/run-pipeline/603_xhtml-to-pdf__o.test.pdf
Test/run-pipeline/605_xhtml-to-pdf__o.test.pdf
Test/run-pipeline/104_file__o.test.md
Test/run-pipeline/203_markdown__o.test.xhtml
Test/run-pipeline/403_save__o.test.md
Test/run-pipeline/801_copy__o.test.md
Test/run-pipeline/801b_copy__o.test.md
Test/run-pipeline/802_copy__o.test.md
Test/run-pipeline/802b_copy__o.test.md
Test/run-pipeline/901_include__o.test.md
Test/run-pipeline/A01_latex__o.test.tex
Test/run-pipeline/B01_docx__o.test.docx
Test/run-pipeline/C01_klartext__o.test.xml
Test/test-reports/TESTS-convert-htmlbook.xml
Test/test-reports/TESTS-convert-klartext.xml
Test/test-reports/TESTS-convert-markdown.xml
Test/test-reports/TESTS-run-pipeline.xml
Source/build
Source/dist
Source/dossier.egg-info
Source/docker/dossier-0.1.0-py3-none-any.whl
Source/docker/wheels/dossier-0.1.0-py3-none-any.whl
Test/run-pipeline/E01_klartextinclude__o.test.kt
Source/dm/Tools/css/dossier-syntax.css
Test/convert-svgbob/001_logo__i.html
Test/convert-svgbob/001_logo__i.pdf
Test/convert-svgbob/002_showcase__i.pdf
Test/convert-svgbob/test-2.bob
Test/convert-svgbob/test-2.svg
Test/convert-svgbob/test.bob
Test/convert-svgbob/test.png
Test/convert-svgbob/test.svg
Test/output-docx/002_complete__o.docx
Test/output-docx/001_example__o.docx
Test/run-pipeline/E02_include__o.test.xml
Documentation/Pitch/Dossier.pdf
Documentation/Pitch/test.html
Documentation/Pitch/test.xml
Test/convert-xpath/002_vcf__o.test.txt
Test/convert-markdown/032_diagrams__i.html
Test/convert-markdown/032_diagrams__i.pdf
Test/convert-xpath/003_vcf__o.test.txt
