behave==1.2.6  
CairoSVG==2.7.1
colour==0.1.5
diff-pdf-visually==1.8.0
fpdf2==2.7.7
lxml==4.9.3
markdown-checklists==0.6.3
markdown-customblocks==1.4.1
Markdown==3.5.1
MarkdownPP==1.5.1
openpyxl==3.1.2
Pygments==2.17.2
pylint==3.0.3
pypdf2==3.0.1
pypdfium2==4.25.0
python-docx==1.1.0
python-pptx==0.6.23
python-markdown-comments==1.1.0
pytidylib==0.3.2
WeasyPrint==60.2
xmlschema==2.5.1